<html>

    <head>
        <meta charset='utf-8'>
        <meta content='IE=edge' http-equiv='X-UA-Compatible'>
        <title>League of Legends</title>
        <meta content='width=device-width, initial-scale=1' name='viewport'>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{asset('css/style.css')}}"/>
        {% endblock %}

    </head>

    <body class="game-body">
        <div class="game-container">
            <div class="box">
                <div class="head">
                 <div class="left-content">
                  <h3>Level {{q.rank}}</h3>
        
                 </div>
                    <table>
                        <tr>
                            <td><img class="loot" src="img/be.png"></td>
                            <td><img class="loot" src="img/key.png"></td>
                            <td><img class="loot" src="{{elo}}"></td>
                           
                        </tr>

                    
                            <tr>
                                <td class="loot-quantity">{{ p.be }}</td>
                                <td class="loot-quantity">{{ p.cle }}</td>
                                <td class="loot-quantity">{{LP}} LP</td>
                               
                            </tr>
                      
                    </table>

                </div>
            
                 <a href="{{ path('shop',{ id: 1 }) }}">
                 <button class="shop" value="Shop"/><img src="img/shop.png" class="shop-loot"/></button></a>
                <div class="body">
               
                    <table>
                        <tr>
                            <td class="images"><img src={{q.image1}}></td>
                            <td class="images" ><a  href="{{ path('showImage',{id: 1 ,num :10,PriceKey :1}) }}" >
                            <img src={{q.image2}}></a></td>
                        </tr>
                        <tr>
                            <td class="images"><a href="{{ path('showImage',{ id: 1 ,num :100,PriceKey :2}) }}">
                            <img src={{q.image3}}></a></td>
                            <td class="images"><a href="{{ path('showImage',{ id: 1 ,num :1000,PriceKey :3}) }}">
                            <img src={{q.image4}}></a></td>
                        </tr>
                    </table>
                </div>
               

                <div class="bottom">
                {{ form_start(f) }}
                {{ form_widget(f.Response, {'attr': {'class': 'form-control','autocomplete' : 'off','placeholder':'Answer'}}) }}
                  {{ form_widget(f.Submit, {'attr': {'class': 'form-control login'}}) }}
               {{ form_widget(f.Submit) }}
                {{ form_end(f) }}
                <div class="errors-game">
               
                {% for label, messages in app.flashes %}
                  {% for message in messages %}
                       
                        <div class="flash-{{ label }}">
                        
                            {{ message }}</li>
                        
                        </div>
                    
                  {% endfor %}
                {% endfor %}
                
                </div>
                </div>
                 <!-- Showing Errors-->
               
            </div>
        </div>
            <script> 
   function clickAndDisable(link) {
    //disable spam clicks
     link.onclick = function(event) {
        event.preventDefault();
     }
   }   
</script>
    </body>

</html>
